{% extends 'base.html' %}
{% load static %}

{% block title %}SportsNet - Reservas Deportivas{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block contenido %}

<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Bienvenido a SportsNet</h1>
    <p class="hero-subtitle">Gestiona tus establecimientos o busca canchas y has reservas!</p>
    
    <div class="hero-buttons">
      <a href="{% url 'establecimientos:buscar' %}" class="btn btn-secondary">Buscar Canchas</a>
      {% if not user.is_authenticated %}
        <a href="{% url 'cuentas:registro' %}" class="btn btn-secondary">Registrarse</a>
        <a href="{% url 'cuentas:login_cuenta' %}" class="btn btn-secondary">Iniciar Sesion</a>
      {% else %}
        {% if user.perfil_dueno %}
        <a href="{% url 'cuentas:SportsNet_dueno' %}" class="btn btn-secondary">Menu</a>
        {% else %}
        <a href="{% url 'cuentas:SportsNet_cliente' %}" class="btn btn-secondary">Menu</a>
        {% endif %}

      {% endif %}
    </div>
  </div>
</section>


{% endblock %}