{% extends 'base.html' %}
{% load static %}

{% block title %}Registrarse - SportsNet{% endblock %}


{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}


{% block content %}
<div class="signup-container">
  <div class="signup-box">
    

    {% if user.is_authenticated %}
        <h3 class="signup-title">Usted ya está registrado e inició sesión</h3>
        <a href="{% url 'cuentas:cerrar_sesion' %}" class="signup-title">Cerrar Sesión</a>
        <hr>
        <a href="{% url 'cuentas:home' %}" class="signup-title">Menu principal</a>
    {% else %}
        <h2 class="signup-title">Crear Cuenta en SportsNet</h2>
        <h5 class="signup-subtitle">Su nombre de usuario es unico y NO se puede cambiar.</h3>
        <form method="POST" class="signup-form" novalidate>
        {% csrf_token %}

        
        <div class="form-group">
            <label>{{ form.tipo_usuario.label }}</label>
            <div class="radio-group">
            {% for value, text in form.tipo_usuario.field.choices %}
                <div class="radio-option">
                <input 
                    type="radio" 
                    name="tipo_usuario" 
                    value="{{ value }}" 
                    id="id_tipo_usuario_{{ forloop.counter }}"
                    {% if form.tipo_usuario.value == value %}checked{% endif %}
                    
                >
                <label for="id_tipo_usuario_{{ forloop.counter }}">{{ text }}</label>
                </div>
            {% endfor %}
            </div>
            {% if form.tipo_usuario.errors %}
            <ul class="errorlist">
                {% for error in form.tipo_usuario.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- Campos básicos -->
        {% for field in form %}
            {% if field.name not in 'tipo_usuario,rut' %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
                {% if field.errors %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <!-- rut, para usuarios dueño, validacion pendiente en models -->
        <div class="form-group conditional-field" id="rut-field">
            <label for="{{ form.rut.id_for_label }}">{{ form.rut.label }}</label>
            {{ form.rut }}
            {% if form.rut.help_text %}
            <span class="helptext">{{ form.rut.help_text }}</span>
            {% endif %}
            {% if form.rut.errors %}
            <ul class="errorlist">
                {% for error in form.rut.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>


        <!-- Errores generales del formulario
        {% if form.non_field_errors %}
            <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        -->

        <button type="submit" class="signup-button">Registrarse</button>
        </form>
        <p class="signup-text">
        ¿Ya tienes cuenta?
        <a href="{% url 'cuentas:login_cuenta' %}">Inicia sesión aquí</a>
        </p>

    {% endif %}

    

    
  </div>
</div>

{% block extra_js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% endblock %}

